* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.invisivel {
    display: none;
}

.adiciona {
    display: flex;
}

body {
    background-color: #E5E5E5;
}

.corzinha {
    display: flex;
    height: 100%;
    align-items: center;
    color:grey;
    min-width: 80%;
   
}

.input_color {
    display: flex;
    height: 47px;
    justify-content: space-between;
    border-width: 1px;
    border-style:double;
    border-radius: 5px;
    border-color:rgb(209, 204, 204);
   
}
.input_color input {
   height: 90%;
   width: 90%;
   
}

header {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 37px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 10;
}

/*Aqui dá inicio ao layout da página 2*/
.pagina2 {
    width: 100%;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    row-gap: 44px;
}

.tituloDoQuizz {
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tituloDoQuizz img {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.tituloDoQuizz div {
    font-weight: 400;
    font-size: 39px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
}

.caixaDePergunta {
    width: 759px;
    height: 670px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    width: 90%;
    height: 20%;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
    color: #ffffff;
    margin-top: 27.91px;
}

.respostas {
    width: 90%;
    height: 20%;
    margin-top: 20.16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24.29px;
    row-gap: 18.61px;
}

.resposta img {
    width: 320px;
    height: 173px;
    border-radius: 8px;
}

.emTexto {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    align-items: center;
}

.pergunta_1 {
    width: 375px;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    margin-top: 21px;
}

.pergunta_2 {
    width: 375px;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    margin-top: 21px;
}

.pergunta_3 {
    width: 375px;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    margin-top: 21px;

}

.pergunta_1 img,
.pergunta_2 img,
.pergunta_3 img {
    width: 26px;
    height: 23px;
}

.porcentagemAcerto {
    width: 759px;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
}

.porcentagem {
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.porcentagemTexto {
    display: flex;
    column-gap: 21px;
}

.porcentagemTexto img {
    display: flex;
    flex-wrap: wrap;
    width: 364px;
    height: 273px;
}

.porcentagemTexto div {
    height: 250px;
    width: 328px;
    color: #484848;
    font-weight: 700px;
    font-size: 19px;
}

.botaoReiniciar {
    width: 260.38px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    color: #fff5f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltarHome {
    font-weight: 400;
    font-size: 21px;
    color: #818181;
}

/*Aqui é o fim do layout da página2*/
/*classes utilizadas para deixar layout selecionado*/
.naoSelecionado {
    opacity: 0.3;
}

.naoSelecionado2 {
    color: #FF4B4B;
    opacity: 0.3;
}

.selecionado {
    color: #009C22;
}

/*fim das classes utilizadas para deixar o layout selecionado*/

.listaQuizz {
    max-width: 1090px;
    margin: 0 auto;
}

.criados {
    margin-top: 146px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button :hover {
    box-shadow: 0 0 50px rgba(231, 28, 28, 0.938);

}

.criados button {
    border: 1px dashed #D5D5D5;
    border-color: #EC362D;
    border-radius: 25px;
    color: #EC362D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    width: 151px;
    height: 40px;
    margin-top: 15px;
}


.quizz {
    display: flex;
    flex-wrap: wrap;
    min-height: 182px;
    width: 100%;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
}

h2 {
    max-width: 250px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;

}

.tema {
    display: flex;
    justify-content: center;
    width: 340px;
    height: 181px;
    position: relative;
    margin-right: 15px;
    margin-bottom: 12px;
}

.tema :hover {
    background: blue;
    box-shadow: 0 0 50px rgba(78, 47, 255, 0.938);
}

.tema img {

    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.TituloQuizz {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    bottom: 7px;
    text-align: center;

}

.cadastro {
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-top: 105px;
    transition: all 1.0s ease;
}

.cadastro button {
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 54px;
    width: 324px;
    color: #FFF5F4;
    margin-top: 20px;
}

.perguntas {
    flex-direction: column;
    margin-top: 50px;
    padding-left: 18px;
    padding-right: 18px;
    width: 375px;

}

.pergunta h1 {
    text-align: start;
    font-size: 50px;
}

input {
    margin-bottom: 9px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.nivel {
    margin-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    width: 375px;
    flex-direction: column;
    box-sizing: border-box;
}

/* Pagina de cadastro */


@media (max-width: 1100px) {
    .listaQuizz {
        max-width: 400px;
    }

    .todos {
        display: flex;
        justify-content: center;
    }

    .tema {
        max-width: 340px;
    }

    /*Ajustes para a página2*/
    header {
        width: 100%;
    }

    .pagina2 {
        width: 100%;
    }

    .tituloDoQuizz {
        width: 100%;
        height: 142px;
    }

    .tituloDoQuizz img {
        max-width: 100%;
        max-height: 100%;
    }

    .tituloDoQuizz div {
        font-size: 19px;
    }

    .caixaDePergunta {
        width: 100%;
        height: 436px;
    }

    .respostas {
        display: flex;
        flex-wrap: wrap;
    }

    .resposta img {
        width: 150px;
        height: 100px;
        border-radius: 0px;
    }

    .pergunta {
        font-size: 19px;
    }

    .emTexto {
        font-size: 13px;
    }

    .porcentagemAcerto {
        width: 100%;
        height: 500px;
    }

    .porcentagem {
        width: 340px;
        height: 99px;
        font-size: 19px;
    }

    .porcentagemTexto {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
    }

    .porcentagemTexto img {
        width: 340px;
        height: 255px;
    }

    .porcentagemTexto div {
        width: 340px;
        height: 96px;
        font-size: 17px;
    }

    .voltarHome {
        width: 219.64pxpx;
        height: 44px;
        font-size: 18px;
    }

    .botaoReiniciar {
        width: 219.64px;
        height: 44px;
        font-size: 18px;
    }

}